body{ 
font-family: 'Montserrat', sans-serif;

}
 .conteiner {
 width: 80%;
 margin: 0 auto;
 align-content: center;
}
.header-logo {
  background-color: black;
}
 .img-container {
width: 50%;
margin: auto;
text-align: center;
}
 .img-container img {
    width: 100%;
    max-width: 234px;
}
.main-container{ 
padding: 16px;
background-color: #f6f7f9;
}
 .main-container a {
padding: 10px 20px;
background-color: black;
border: none;
color: white;
text-decoration: none;
}
p.marca {
  text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}